* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #01438f;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu a {
  display: block;
  padding: 8px;
  margin-bottom: 15px;
  background-color: #b7e9fc;
  color: #01438f;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu a:hover {
  background-color: #0099cc;
}

.menu-item {
  text-align: center;
  color: #01438f;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #01438f;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 15px;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.list-group-item {
  background-color: #b7e9fc;
}

.headshot {
  display: block;
  width: 100%;
}

body {
  background-color: #180a66;
  color: white;
}

.thumbnail {
  width: 10%;
}

.projectNameText {
  color: salmon;
}

a {
  color: white;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navBar {
  display: flex;
  justify-content: space-around;
}

.aboutMeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}

.card-body {
  background-color: #180a66;
  text-align: center;
}

#aboutCard {
  background-color: #180a66;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#contactCardText {
  width: 45%;
  margin: 20px auto;
  text-align: center;
}

.card-text {
  text-align: center;
}

.card {
}

#projectsPageText {
  text-align: center;
}

#projectPageBox {
  padding: 120px;
  align-content: center;
  align-items: center;
  /* max-width: 1000px; */
}

img {
  max-height: 200px;
}

.resumePageBody {
  display: flex;
  justify-content: center;
  align-content: center;
}

#resumePageText {
  padding-top: 25px;
  text-align: center;
}
